/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2021, 1:05:12 PM
    Author     : Dators
*/
body {
background-image: url("ziema1.jpg");
color: #000000;
}
p {
font: 20px arial, arial;
color: black;

